{% extends 'admin/base.html.twig' %}

{% block title %}liste des Villes!{% endblock %}

{% block body %}
<div class="container-fluid">
    <h1 class="my-5">Gestion des villes</h1>
    <table class="table table-hover">
        <thread>
            <tr>
                <th>Id</th>
                <th>nom</th>
                <th>code postale</th>

                <th>Actions</th>
                <th>     <a href=" {{ path('admin_ville') }}">ajouter nouvelle ville</a></th>


                <th></th>
            </tr>
        </thread>
        <tbody>

        {% for ville in villes %}


        <tr>
            <td>{{ ville.id }}</td>
            <td>{{ ville.nom }}
            <td>{{ ville.codePostal }}</td>




            <td>

                <a href="{{ path('ville_edit',{'id':ville.id}) }}" class="btn btn-primary"><i
                            class="fas fa-edit"></i></a>
                <a href="{{ path('admin_chaussures_delete',{'id':ville.id}) }}" class="btn btn-danger"><i
                            class="fas fa-trash"></i></a>
            </td>
        </tr>
    {% endfor %}

{% endblock %}