{% extends 'admin/base.html.twig' %}

{% block title %}Modification d'une chaussure!{% endblock %}

{% form_theme form _self %}

{% block body%}
    <div class="container">
        <h1>Modification de la chaussure:{{ chaussure.getNom }}</h1>
 
  {{ form_start(form) }}
        {{ form_widget(form) }}

    {#verifier si la route est "modeleChaussures_edit" on affiche les photos #}

     {% if app.request.attributes.get('_route')=='modeleChaussures_edit' %}
        <h3>
            photo de couverture
        </h3>
        <div>
      <img  src="/img/{{ chaussure.coverImage }}" id="img_principal"
        alt="photo" width="150">
            {# <a id="cover" href="{{path( 'chaussures_coverImage_supprime',{'id':chaussure.coverImage} )}}" data-delete data-token="{{ csrf_token('delete'~ chaussure.id) }}">supprimer</a> #}
            <a href="{{ path('admin_delete_image_cover', {'id' : chaussure.id}) }}" class="link-delete">supprimer</a>
        </div>
        <h2>
            Images
        </h2>

       <div>
        {% for photo in chaussure.photos %}
            <div>
                <img src="/img/{{ photo.url }}" alt="Photo" width="150">
                <a href="{{ path('chaussures_photo_supprime',{'id':photo.id}) }}" data-delete data-token="{{ csrf_token('delete'~ photo.id) }}">supprimer</a>
            </div>
        {% endfor %}
    {% endif %}
  </div>

<button type="submit" class="btn btn-primary">Modifiez lachaussure</button>


    {{ form_end(form) }}


  {% endblock %}






{% block javascripts %}
<script src="/js/{{ ('images.js') }}"></script>
<script src="/js/{{ ('photo.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    //****************************************
    function deleteCoverImage(event) {
        event.preventDefault();
        const url = this.href;
        axios.get(url).then(function (Response) {
            document.querySelector("#img_principal").setAttribute("src", "");
            alert('image de couverture a été supprimée avec succès !');
        })
    }
    document.querySelector(".link-delete").addEventListener('click', deleteCoverImage);

    //****************************************
</script>
{% endblock %}