{% extends 'admin/base.html.twig' %}

{% block title %}promotion edition!{% endblock %}

{% block body %}
    <div class="container">
        <h1>Modifier promotion </h1>
        {{ form_start(form) }}
        {{ form_row(form.dateDebut) }}
        {{ form_row(form.dateFin) }}
        {{ form_row(form.pourcentage) }}
        {{ form_row(form.modeleChaussure, {'disabled' : true }) }}
        <button type="submit" class="btn btn-primary">Modifier la Promotion</button>
        {{ form_end(form) }}

    </div>

{% endblock %}
